/* Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */

body
{
    background-image: url('picturesHolidays/greyzz.png'); /* fond de l'écran */
    background-color: #e7e9e3;
    color: #181818; /* couleur par défaut du texte */
    font-family: 'Trebuchet MS', "Arial Black", Arial, Verdana, sans-serif; /* polices à utiliser */
}

#bloc_page
{
    width: 80%;
    margin: auto;
}

#banner
{
    background-image:url('Header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #1c1a19;
    position: relative;
    margin-bottom: 15px;
}

header h1
{
    font-family: 'Dayrom', serif;
    font-size: 2.5em;
    font-weight: normal;
    text-align: center;
    margin: 20px;
    color: rgb(18, 18, 19);
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}


.h2Center
{
    font-size: 1.1em;
    font-style: italic;
    margin: 10px 50px;
    text-align: center;
}
.box
{
    display: flex;
    flex: auto;
    justify-content: space-between;
}

.verticalbox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.horizontalbox {
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
}
.boxUl
{
    margin: 5px 10px;
    font-size: 1em;
    color: rgb(83, 82, 82);
    background-color: rgb(245, 245, 248);
    border: 1px solid;
    padding: 20px 30px;
    box-shadow: 3px 3px 3px;
    border-radius: 3px;
    list-style-type: circle;
    max-width: 100%;
    width: 70%;
}

.boxUl:hover {
    border-color: rgb(48, 49, 51);
    border: 2px solid;
}

p
{
    font-size: 1em;
}

.dayNavigation
{
    font-size: 0.9em;
    margin: auto;
    text-decoration: italic;
    text-align: center;
}

.boxShadow
{
    margin: auto;
    margin-top: 30px;
    text-align: justify;
    width: 60%;
    justify-content: center;
    padding: 10px 15px 10px 15px; 
    color: darkgrey;
    border: 1px solid;
    box-shadow: 3px 3px 3px;
    word-wrap: break-word;
}
.drawing
{
    margin: 10px 50px;
    width: 90%;
    padding: 10px 15px 10px 15px; 
    text-decoration: darkgray;
    text-align: justify;
    word-wrap: break-word;
    text-decoration: underline;
    text-align: center;
    font-size: 0.9em;
}
#picture
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1
{
    font-size: 1.3em;
    font-weight: bold;

}
h2  {
    font-size: 1.1em;
    font-style: italic;
    text-shadow: rgb(83, 82, 82);
    margin: 10px 50px 5px 30px;
}


.floatingLeft
{
    float: left;
}

.imageflottante
{
    float: left;
}
.below
{
    clear: both;
}
.Sun
{
    color: darkslategray;

}

.align
{
    text-align: center;

}
.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
/*    width: 50%;*/
  }
.underline
{
    text-decoration: underline;
}
.alignUnderline
{
    text-decoration: underline;
    text-align: center;
}

  a:hover 
  {
    font-weight:bold;
    color: blue
  }